body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #4F3D34; /* Brown background */
  color: #4F3D34; /* White text */
  min-height: 100vh; /* Ensure the body fills the entire screen */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Space out header and footer */
}

.App {
  text-align: center;
  flex: 1; /* Allow the main content to take most of the space */
}

header {
  background-color: #4F3D34; /* Accent Color */
  color: white;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 100%;
}

header h1 {
  margin: 0;
  font-size: 1.8em;
}

nav {
  margin-top: 10px;
}

nav button {
  background-color: #92A662; /* Base Color */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 1em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

nav button:hover {
  background-color: #BC5F6A; /* Accent Color */
}
